{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}БатинаФерма{% endblock title %}</title>             
    <link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicon.png' %}" />        
    <link rel="stylesheet" href="{% static 'core/styles.css' %}"> 
  </head>
  <header>       
      {% include "core/nav.html" %}   
  </header>
  <body>
    {% block content %} 
    {% endblock content %}    
  </body>  
  <footer>
    {% block footer %}
    <div class="sticky-bottom row bg-dark">
        
          <div class="col-4">
            Made by on my knee with blood and sweat in 2024г.
          </div>
          <div class="col-4">
            <p class="mb-0"><b>Контакты:</b></p>
            <p class="mb-0">Томская область</p>
            <p class="mb-0">д.Нелюбино</p>
            <p class="mb-0">ул.Луговая 2</p>
            <a class="tel" href="tel:+79138203712">8-913-820-37-12</a>
          </div>
          <div class="map col-4">
            <script
              type="text/javascript"
              charset="utf-8"
              async
              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae24e6dab36939f1acbb775c204412f8858546c317cfbd57a78bb7e6a332be56c&amp;width=270&amp;height=100&amp;lang=ru_RU&amp;scroll=true"
            ></script>
          </div>   
      </div> 
    {% endblock footer %}
  </footer>  
</html>
