{% extends "core/base.html" %}

{% block title %}БатинаФерма - Контакты{% endblock title %}
{% block content %}
<div class="container">
    <div class="row p-3">
        <div class="news col-3">    
            <h3>Наши контакты</h3>
            <h4>Ферма</h4>
            <p class="mb-0">Томская область</p>
            <p class="mb-0">д.Нелюбино</p>
            <p class="mb-0">ул.Луговая 2</p>
            <br>
            <h4>Реализация в г.Томске</h4>
            <p class="mb-0">Томская область</p>
            <p class="mb-0">г.Томск</p>
            <p class="mb-0">ул.Тверская 81</p>
            <br>
            <h4 class="mb-0">+7(913) 820-37-12</h4>
        </div>        
           
        <div class="сontent col-9">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aab108cbe9b27b2b151433405bf8a401ba8b8939d8497e0d942169de32b18ab92&amp;width=700&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>      
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
