{% extends "core/base.html" %}

{% block title %}БатинаФерма - Рецепты{% endblock title %}
{% block content %}
<div class="container">
  <div class="recipies p-3">
  <h3>Как готовить перепелку?</h3>
    <p>
      Польза перепелиного мяса… что толку, если не знаешь как его приготовить.
      Вариантов блюд из мяса перепелки просто масса. Мясо можно запекать, обжаривать, варить, тушить и т.д. Так как продукт считается постным, чтобы во время жарки или запекания не высушить мясо, тушку рекомендовано предварительно замариновать. Для маринада могут быть использованы различные натуральные специи для птицы, соевый соус, минеральную воду и т.д. Во время жарки, поливайте тушку маринадом или топленым сливочным маслом, такие действия придадут корочке золотистый цвет и сочность.
      Невероятно вкусной является перепела на гриле вместе с овощами. Для маринада используйте только натуральные специи: тимьян, кориандр, зелень, чеснок, оливковое масло. Приготовив перепелок на гриле, вы удивите родных божественным вкусом мяса.
      Если перепелка используется в диетическом рационе, птицу лучше варить или готовить на пару. Перед приготовлением тушку следует тщательно промыть под проточной водой, после ставить вариться. Если вы варите бульон из перепелки, первый после закипания, через 2-3 минуты следует слить, таким образом, вы устраните лишнюю жирность от кожи птицы.
      Перепелки отлично сочетаются с гарниром из тушеных овощей, а также салатом из свежих овощей.
      По своему составу минеральных веществ, витаминов и питательности, перепелиное мясо превосходит не только курицу, но и во многом мясо кроля и индейки. Поэтому данный продукт должен быть обязательно включен в рацион детей, а также всех, кто хочет иметь крепкое здоровье, и следит за своей фигурой.
      На нашей ферме вы сможете заказать исключительно свежие тушки перепелок, которые прошли все проверки и соответствуют стандартам ГОСТ Р 54673-2011.
    </p>
  </div>  
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
