{% extends "base.html" %}
{% block title %}БатинаФерма - О нас{% endblock title %}
{% block content %}
<div class="container">
  <div class="about_info p-3">
  <div>
    <h3>Продукция перепелиной фермы</h3>
    <p>Продукцию фермы всегда можно приобрести на ферме, расположенной в д.Нелюбино Томской области. 
      <br>В нашем ассортименте: 
      
      <li>Мясо перепела охлажденное и замороженное</li>
      <li>Яйцо пищевое</li>
      <li>Яйцо инкубационное</li>
      <li>Перепела живок</li>
    </p>
  </div>
  <div>
    <h3>Польза перепелиного мяса.</h3>
    <p>
      Куриное мясо не является деликатесом и привычно на столах многих семей, а вот перепелка считается диетическим мясом, которое на Руси подавали к царскому столу. 
      Действительно, перепелиное мясо хоть и схоже по вкусу с куриным, но имеет немало отличий и считается невероятно полезным для человеческого организма. 
      Поэтому данный продукт очень любят спортсмены и люди, которые следят за своим питанием, ведут здоровый образ жизни.
    </p>
  </div>
  <div>
    <h3>Особенности состава перепелиного мяса</h3>
    <p>
      Перепел ранее добывали на охоте, сейчас птиц разводят на специальных фермах во многих странах мира.
      Мясо перепелки – особенное, из него можно приготовить массу вкуснейших блюд, вплоть до блюд высокой кухни. Тушка этой небольшой птицы весит всего порядка 150 грамм, длиною всего в двадцать сантиметров, но является ценным продуктом, так как обогащена различными минералами, витаминами и чистым белком, среди них:
      <li>в филе перепелки содержится 22% чистого белка, что крайне ценно для спортсменов, следящим за своим питанием;</li>
      <li>в 100 гр. продукта всего 230 ккал, что говорит о низкой калорийности продукта. Поэтому мясо этой птицы можно и нужно без опаски употреблять во время диеты;</li>
      <li>содержит массу различных витаминов: А, Н, К, Д, а также целый ряд витаминов группы В;</li>
      <li>минералы, входящие в состав продукта: медь, калий, железо, кальций, магний и др.;</li>
      <li>очень низкое содержание вредного холестерина. Этот показатель особенно важен для спортсменов, а также людей с атеросклерозом и необходимостью снижения уровня холестерина в крови;</li>
      <li>наличие в составе мяса различных аминокислот, среди них: аргинин, гистидин и др. Аминокислоты являются важными компонентами для здоровья и развития организма, об их пользе не понаслышке знают спортсмены, поэтому отдают предпочтение мясу перепелки, нежели, куриному.</li>
    </p>
  </div>
  <div>
    <h3>Польза перепелиного мяса</h3>
    <p>
      За счет такого богатого и сбалансированного состава, перепелиное мясо способствует:
      <li>снижению массе тела с получением ряда необходимых витаминов и микроэлементов;</li>
      <li>способствует приросту мышечной массы, являясь источником белка, необходимого для роста мускул;</li>
      <li>ускоряет процесс восстановления тканей после травм, а также восстановление сил после тяжелых физических нагрузок, питая организм нужной энергией и белками;</li>
      <li>ряд микроэлементов позволяет улучшить работу сердечно-сосудистой системы, снизить уровень холестерина, защитить от развития анемии и других патологий;</li>
      <li>легкая усвояемость продукта делает его незаменимым не только во время диеты, но и для людей с сахарным диабетом, страдающих от патологий ЖКТ и поджелудочной железы.</li>
      Перепелиное мясо не перегружает работу ЖКТ, не создает большой нагрузки на поджелудочную железу, может стать отличным вариантом для правильного ужина, кто поддерживает идею ЗОЖ.
      Наличие в составе витамина Д в комплексе с витаминами группы В, способствует защите детей от развития такого заболевания, как рахит. Витамины группы РР, содержащиеся в перепелином мясе служат профилактикой от подагры.
      Исходя из состава мяса, а также пользы, которую несет для организма его употребление, специалисты однозначно считают, что перепелки гораздо полезнее куриного мяса.
      Продукт не имеет противопоказаний, не вызывает аллергической реакции и безвреден даже для детей младшего возраста. Противопоказанием к применению может считаться лишь индивидуальная непереносимость продукта.
    </p>
  </div>
  <div>
    <h3>Как выбрать и хранить мясо?</h3>
    <p>
      Чтобы блюда из перепелки получились вкусными и полезными, следует выбрать качественный и свежий продукт. В первую очередь следует оценить внешний вид птицы, под кожей не должны проявляться синие пятна, а также какие-либо иные повреждения. Второе – это запах, не должно быть резкого, протухшего запаха, он свидетельствует о несвежести продукта. Еще один тест на свежесть заключается в упругости мяса. Надавите пальцем на тушку, ямка после надавливания должна быстро восстановиться в исходное положение.
      Хранить в охлажденном виде перепелок, рекомендовано не более двух суток при температуре от 0 до +4 градусов. В морозильной камере срок хранения продукта увеличивается до месяца и даже более, но сокращается польза от экологически чистого мяса.
      Всегда качественное, экологически чистое и свежее мясо перепелок вы найдете на ферме “У Груни”. Мы строго контролируем процесс роста птицы и её рацион, чтобы обеспечить своим покупателям исключительно экологичное и натуральное мясо.
    </p>
  </div>
</div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
