{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="news col-3">
            <h3>Отзывы покупателей</h3>
            <hr>
            {% for comment in comments %}
            <div>
                <p class="text-end mb-0" style="font-size: 10px">{{comment.published_date}}</p>                
                <p>{{comment.name}}</p>
                <p class="comment">{{comment.comment}}</p>            
                <hr class="m-1">            
            </div>   
            {% endfor%}         
        </div>
    
        <div class="сontent col-9">
            <h3>             
                Продукцию всегда можно приобрести на ферме, расположенной в д.Нелюбино Томской области.
                <br>В нашем ассортименте:
            </h3>                
            <p>&emsp;Мясо перепела охлажденное и замороженное</p>
            <p>&emsp;Яйцо пищевое</p>
            <p>&emsp;Яйцо инкубационное</p>
            <p>&emsp;Перепела живок</p>            
            <hr>
            {% for post in posts %}
            <div>
                <h3>{{post.title}}</h3>
                <p>{{post.context|linebreaksbr}}</p> 
                <hr>               
            </div>
            {% endfor %}  
        </div>    
    </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
